:root {
  font-family: "Parkinsans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #282a29;
  color-scheme: light dark;
  background-color: #faefe6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}