:root {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  #282a29 background-color: #faefe6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}