body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Ensure full viewport width */
  overflow-x: hidden;
  font-family: "Parkinsans", sans-serif;
  background-color: #fdf4ed;
  color: #282a29;

  h2 {
    font-weight: 300;
  }

  .highlight {
    font-weight: 600;
  }
}
