body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Ensure full viewport width */
  overflow-x: hidden;

  h2 {
    font-weight: 300;
  }

  .highlight {
    font-weight: 600;
  }

  a {
    margin-bottom: 0;
    text-decoration: none;
    color: #553566;
    margin: 0;
    &:hover {
      color: #d46bca;
    }
  }
}
