.landing-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3em;
  align-items: center;

  h1 {
    font-weight: 200;
    margin-left: 1em;
  }

  .bolded-phrase {
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .avatar {
    width: 11em;
    margin-right: 1em;
  }
}
