.bg-body-tertiary {
  display: flex;
  align-items: center;
  background-color: #f49e7e;
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 1000;

  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.5em;

    a {
      font-family: "Margarine", sans-serif;
      font-weight: 400;
      color: black;
      text-decoration: none;
      &:hover {
        color: #553566;
      }
    }
    svg {
      padding-right: 0.5em;
    }
    a:first-child {
      margin-left: 1em;
    }
    .me-auto {
      display: flex;
      gap: 1em;
      margin-right: 2em;
    }
  }
}
