.nav-bar {
  display: flex;
  align-items: center;
  background-color: #f49e7e;
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.5em;

  a {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #282a29;
    text-decoration: none;
    &:hover {
      color: #d46bca;
    }
  }
  svg {
    padding-right: 0.5em;
  }
  a:first-child {
    margin-left: 1em;
  }
  .nav {
    display: flex;
    gap: 1.5em;
    margin-right: 2.5em;
  }
}
